@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: url('../public/assets/dither2.svg') repeat fixed center;
    background-size: cover;


}


#root {

    max-width: 1280px;
    margin: 0 auto;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-content: center;

}

:root {
    font-family: "Roboto", Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    --accent1: #ed7b68;
    --white: #fefefe;
    --black: #000000;
    --offwhite: #efefef;
    --offblack: #0f0f0f;


    color: var(--white);
    background-color: var(--black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



}

.accent1 {
    color: var(--accent1);
}


p {
    font-size: 1rem;
}


a {
    font-weight: 400;
    text-decoration: inherit;
}


h1 {
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;


    text-align: center;
    font-size: 2.2em;
    line-height: 1.1;
}

.projectContainer {
    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    gap: 20px;
}


header {
    /*background-color: var(--offblack);*/
    overflow: hidden; /* prevent bleed */
    align-self: center;
    top: 20px;
    display: flex;
    justify-content: space-between;

    width: 80vw;
    padding: 20px;
    position: fixed;

    gap: 10px;

}

.projectsMain {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 50vh;
    padding-top: 40vh;
}

.projectsMain article {
}

.logo:hover {
    transform: rotate(1080deg);
    transition: 1s;
}

.logoHome {
    align-self: center;
}

.logoHome img:hover {
    transform: rotate(1080deg);
    transition: 1s;
}

.logoHome img {
    align-self: center;
    height: 100px;
    margin-bottom: 50px;
}


.navigation a {
    background-color: var(--offblack);
    border: 1px solid #757575FF;
    color: var(--offwhite);
    font-size: inherit;
    border-radius: .25em;
    padding: .2em .6em;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0 .1em .2em #000;
    text-decoration: none;
    transition: background-color .2s;
}

.navigation a:hover {
    background-color: var(--accent1);
}

.navigation a:focus,
.navigation a:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.homeMain {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

#imgMe {
    align-self: center;
    max-width: 50%;
    margin-bottom: 40px;
}


.links {
    align-self: center;
    display: flex;
    gap: 15px;
}

.first:hover svg path {
    fill: var(--offwhite);
    background-color: var(--black);
}

.second:hover svg path {
    fill: var(--offwhite);
    stroke: var(--offwhite);
    background-color: var(--black);
}

.links a svg {
    flex: 1;
    width: 35px;
    height: 35px;

}

.links a svg path {
    transition: fill 0.3s ease, stroke 0.3s ease;
}


/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/

/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/

/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/
